.no-select {
    -webkit-user-select: none;
    user-select: none;
}

.color-black {
    color: #000;
}

.subtitle {
    color: #888888;
    font-family: "Poppins", sans-serif;
    font-size: 1.9vw;
    font-weight: 700;
    letter-spacing: 0.16vw;
    line-height: 1;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 7.5vw;
    font-weight: 600;
    letter-spacing: 0.94vw;
    line-height: 1;
}

.title-medium {
    font-size: 3.75vw;
    letter-spacing: 0.47vw;
}

main {
    .landing-page__hero {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .hero-background {
        height: 100%;
        object-fit: cover;
        position: absolute;
        transition: filter 0.5s ease, transform 0.5s ease;
        transform: scale(1.05);
        width: 100%;
        z-index: -1;
    }

    .blur-load.blur {
        filter: blur(20px);
        transform: scale(1.05);
    }

    .hero-overlay {
        background: rgba(0, 0, 0, 0.5);
        box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        filter: blur(15px);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    .hero-content {
        align-items: center;
        color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: relative;
        text-align: center;
        z-index: 1;

        .hero-description {
            font-family: "Lora", sans-serif;
            font-size: 1.56vw;
            letter-spacing: 0.7vw;
            font-weight: 200;
            line-height: 1;
        }
    }

    .hero-button {
        border-color: #cfcfcf;
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        bottom: 30%;
        cursor: pointer;
        font-family: "Lora", sans-serif;
        font-size: 1.1vw;
        font-weight: 400;
        left: 50%;
        letter-spacing: 0.08vw;
        line-height: 1;
        min-height: 52px;
        outline: none;
        overflow: hidden;
        padding: 12px 24px;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.2s ease;
        z-index: 1;
    }

    .hero-button::after {
        background: radial-gradient(circle,
                rgba(255, 255, 255, 0.25) 0%,
                rgba(255, 255, 255, 0) 70%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: transform 0.5s ease;
        width: 100%;
    }

    .hero-button:hover {
        background: #292929;
        border-color: #666666;
        border-width: 1.5px;
        text-shadow: 0 0 1px #ffffff, 0 0 5px #ffffff;
        transition: all 0.3s ease-in-out;
    }

    .hero-button:hover::after {
        transform: scale(2);
    }

    .hero-footer {
        align-items: center;
        bottom: 5%;
        height: auto;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
    }

    .landing-page__about {
        background-color: #EBEBEB;
        display: flex;
        height: fit-content;
        min-height: 100vh;

        .about-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: auto;
            padding-bottom: 10%;
            padding-top: 5%;
            text-align: center;

            .about {
                align-items: center;
                display: flex;
                flex-direction: row;
                height: auto;
                justify-content: space-between;
                margin-top: 5%;
                width: 65%;

                .about-icon {
                    border-radius: 50%;
                    height: auto;
                    margin: 0 12px 0 24px;
                    object-fit: cover;
                    width: 18%;
                }

                p {
                    color: #888888;
                    font-family: "Lora", sans-serif;
                    font-size: 1.56vw;
                    font-weight: 400;
                    margin: 0 24px 0 12px;
                    text-align: left;
                }
            }

            .tools {
                display: flex;
                flex-direction: column;
                padding-top: 5%;
                text-align: start;
                width: 65%;
            }
        }
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0) !important;
    }
}

@media (max-width: 768px) {
    .subtitle {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .title {
        font-size: 48px;
        letter-spacing: 6px;
    }

    .title-medium {
        font-size: 36px;
        letter-spacing: 3px;
    }


    main {
        .landing-page__hero {
            .hero-description {
                font-size: 12px;
                letter-spacing: 4px;
            }
        }

        .hero-button {
            bottom: 36%;
            font-size: 12px;
            letter-spacing: 1px;
            min-height: 42px;
            padding: 8px 16px;
        }

        .landing-page__about {
            .about-content {
                padding-top: 10%;

                .about {
                    flex-direction: column;
                    width: 80%;

                    .about-icon {
                        margin: 12px 0;
                        width: 50%;
                    }

                    p {
                        font-size: 16px;
                        margin: 0;
                        text-align: center;
                    }
                }

                .tools {
                    padding-top: 10%;
                    width: 80%;
                }
            }
        }
    }
}