.tailwind-scope {
  @import "tailwindcss";
}

::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

body {
  font-family: sans-serif;
  height: 100vh;
  line-height: 1.5;
  width: 100vw;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: none;
  padding: 0;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #121212;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}